<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<form>
    <input type="button" value="Вернуться к списку пользователей" onclick="history.back()">
</form>
<h3>Сортировка, поиск, фильтрация пользователей</h3>
<form method="post" th:action="@{/admin/person/sorting_and_searсhing_and_filters}">
    <label for="SortingAndSearchingAndFiltersOptions">Выберите параметр:  </label>
    <select name="SortingAndSearchingAndFiltersOptions" id="SortingAndSearchingAndFiltersOptions">
        <option value="email">По Email адресу</option>
        <option value="phone_number">По номеру телефона</option>
        <option value="last_name_and_sort_birthday">По фамилии и сортировка по возрасту</option>
        <option value="last_name_start">По началу символов в фамилии</option>
    </select>
    <br>
    <br>
    <label for="value">Введите значение: </label>
    <input type="text" name="value" id="value">
    <br>
    <br>
    <button type="submit">Поиск или фильтрация</button>
</form>
<h3>Результат: </h3>
<div th:each="element : ${person}">
    <p th:text="'Логин: ' + ${person.getLogin()}"/>
    <p th:text="'Пароль: ' + ${person.getPassword()}"/>
    <p th:text="'Роль: ' + ${person.getRole()}"/>
    <p th:text="'Фамилия: ' + ${person.getLastname()}"/>
    <p th:text="'Имя: ' + ${person.getFirstname()}"/>
    <p th:text="'Отчество: ' + ${person.getPatronymic()}"/>
    <p th:text="'Дата рождения: ' + ${person.getBirthday()}"/>
    <p th:text="'Email: ' + ${person.getEmail()}"/>
    <p th:text="'Номер телефона: ' + ${person.getPhoneNumber()}"/>
    <hr>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>